networks:
  local-otel-collector:
    name: local-otel-collector
    driver: bridge

services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otelcol/config.yaml"]
    environment:
      - GRAFANA_CLOUD_METRICS_ENDPOINT=${GRAFANA_CLOUD_METRICS_ENDPOINT:-}
      - GRAFANA_CLOUD_METRICS_USERNAME=${GRAFANA_CLOUD_METRICS_USERNAME:-}
      - GRAFANA_CLOUD_METRICS_API_KEY=${GRAFANA_CLOUD_METRICS_API_KEY:-}
      - GRAFANA_CLOUD_TRACES_ENDPOINT=${GRAFANA_CLOUD_TRACES_ENDPOINT:-}
      - GRAFANA_CLOUD_TRACES_USERNAME=${GRAFANA_CLOUD_TRACES_USERNAME:-}
      - GRAFANA_CLOUD_TRACES_API_KEY=${GRAFANA_CLOUD_TRACES_API_KEY:-}
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml
    ports:
      - "4317:4317"  # OTLP gRPC receiver
      - "4318:4318"  # OTLP HTTP receiver
    networks:
      - local-otel-collector
    restart: unless-stopped
